footer.footer
	a._logo(href="/index.html")
		svg(role="img" aria-labelledby="footer-logo" width=128 height=24 fill="currentColor")._logo-icon
			title#footer-logo=footer-logo
			use(href="img/logotype.svg#type" )

	ul._socials(aria-label="Наши социальные сети")
		each social in socials
			li
				a._social(href=social.link title=social.text aria-label=social.text)
					svg(width=28 height=22 aria-hidden="true" fill="currentColor")
						use(href=`img/stack.svg#${social.icon}`)

	a._link(href="https://htmlacademy.ru/intensive/adaptive") HTML Academy
		svg._icon--academy(width=28 height=34 aria-hidden="true" fill="currentColor")
						use(href=`img/stack.svg#academy`)
