-
	const isMainPage = currentPage === 'index.html'
header.header(class=isMainPage && 'header--overlay')
	a.logo._logo(href=!isMainPage && 'index.html' tabindex=!isMainPage && -1)
		svg._mascot(role="img" aria-labelledby="mascot-title" width=34 height=38)
			title#mascot-title Наш маскот.
			use._icon.-small(href="img/logotype.svg#small")
			use._icon.-medium(href="img/logotype.svg#medium")
			use._icon.-full(href="img/logotype.svg#full")


		svg(role="img" aria-labelledby="logotype-title" width=102 height=19 fill="currentColor")._type
			title#logotype-title=PROJECT_NAME
			use(href="img/logotype.svg#type" )
	button._burger-button
		svg(role="img" aria-labelledby="header-burger" width=24 height=16 fill="currentColor")._type
			title#header-burger Открыть меню.
			use(href="img/logotype.svg#burger" )

	nav._nav
		- const label = 'Открыть меню'
		button.burger._toggle(type='button' aria-label=label title=label hidden=true aria-expanded='false' aria-controls='navigation')
			span._open 🍔
			span._close ✖️
		ul._list.page__no-list#navigation
			each href, text in navigation
				- const isCurrentPage = currentPage === href
				li._item
					a._link(href=href, aria-current=isCurrentPage ? 'page' : undefined)=text
