section.programs
	h2.page__hidden Наши программы

	each program in programs
		article.program
			._title-wrapper
				h3._title=program.title
				svg(class=`program__icon-${program.icon}` width=50 height=53 aria-hidden="true" fill="currentColor")
						use(href=`img/goals.svg#${program.icon}`)
			p._subtitle=program.subtitle

			a._link(href=`/catalog/${program.link}`)=`Каталог ${program.link}`
