extends common/base

block variables
	-
		title = `Каталог продукции | ${PROJECT_NAME}`
		currentPage = 'catalog.html'

block main
	section.catalog
		h1._title Каталог продукции
		ul._products(aria-label="Наша продукция.")
			each product, index in products
				li.product
					+adaptivePic({className: 'product__img', loading: 'eager', alt: product.title, src: `../img/catalog/catalog-${index}`, ext: 'png', sizes: product.sizes, picClass: 'product__pic', medias: ['(min-width: 1000px)', '(min-width: 500px)'], suffixes: ['desk', 'tab'] })
					h3._title=product.title + " " + product.weight + " г"
					dl._properties
						dt._title Масса
						dd._subtitle=product.weight
						dt._title Вкус
						dd._subtitle=product.flavor
						dt._title Цена
						dd._subtitle=product.price + " ₽"
					button.button заказать 
			li.catalog__additional
				img(src="#", alt="Сюда мы добавим иконку.")
				h3._title Показать еще 100500 товаров
				p._subtitle На самом деле вкусов гораздо больше!
				button.button.-secondary._button--main--inactive показать все
	section.additionals
		h2._title Дополнительные товары
		table.extra-good
			thead.page__hidden
				tr
				- const TABLE_HEADLINES = ["Название", "Количество", "Цена", "Действие"]
				each headline in TABLE_HEADLINES
					th=headline
			tbody
				each additional in additionals
					tr.extra-good__item
						td.extra-good__name=additional.title
						td.extra-good__amount=additional.amount
						td.extra-good__price=additional.price + ' '
							abbr(title="Рублей") Р
						td.extra-good__cta
							button.button.extra-good__button Заказать
	section.promo
		h2.page__hidden Промо-блок
		p.title Закажите все и получите чехол для кота в подарок!