extends common/base

block variables
	-
		title = `Каталог продукции | ${PROJECT_NAME}`
		currentPage = 'catalog.html'

block main
	section.catalog
		h1._title Каталог продукции
		ul._products(aria-label="Наша продукция.")
			each product, index in products
				li.product
					+adaptivePic({className: 'product__img', loading: 'eager', alt: product.title, src: `../img/catalog/catalog-${index}`, ext: 'png', sizes: product.sizes, picClass: 'product__pic', medias: ['(min-width: 1220px)', '(min-width: 707px)'], suffixes: ['desk', 'tab'] })
					h3._title=product.title + " " + product.weight + " г"
					dl.properties
						dt._title Масса
						dd._subtitle=product.weight
						dt._title Вкус
						dd._subtitle=product.flavor
						dt._title Цена
						dd._subtitle #{product.price} ₽
					button._button.button заказать 
			li.catalog__additional
				svg.catalog__additional-icon(width=30 height=30 aria-hidden="true" fill="currentColor")
						use(href=`img/catalog.svg#plus`)
				h3.catalog__additional-title Показать еще 100500 товаров
				p.catalog__additional-subtitle На самом деле вкусов гораздо больше!
				button.button.-secondary показать все
	section.additionals-catalog
		h2._title Дополнительные товары
		table.extra-good
			thead.page__hidden
				tr
				- const TABLE_HEADLINES = ["Название", "Количество", "Цена", "Действие"]
				each headline in TABLE_HEADLINES
					th=headline
			tbody._table
				each additional in additionals
					tr.extra-good__item
						td.extra-good__name=additional.title
						td.extra-good__amount=additional.amount
						td.extra-good__price=additional.price + ' '
							abbr(title="Рублей") Р
						td.extra-good__cta
							button.button.extra-good__button Заказать
	section.promo
		h2.page__hidden Промо-блок
		svg._icon(width=80 height=80 aria-hidden="true" fill="currentColor")
						use(href=`img/catalog.svg#present`)
		p._title Закажите все <br>и получите чехол для кота в подарок!