extends common/base

block variables
	-
		title = `Каталог продукции | ${PROJECT_NAME}`
		currentPage = 'catalog.html'

block main
	section.catalog
		h1._title Каталог продукции
		div._products
			each product, index in products
				article.product
					a.__pic-wrapper(href=`/catalog/product-${index}` tabindex=-1)
						+adaptivePic({className: 'product__img', loading: 'eager', alt: product.title, src: `./img/catalog/catalog-${index}`, ext: 'png', sizes: product.sizes, picClass: 'product__pic', medias: ['(min-width: 1220px)', '(min-width: 707px)'], suffixes: ['desk', 'tab'] })

					h3._title
						a._link(href=`/catalog/product-${index}`)=product.title + " " + product.weight + " г"
					dl._properties
						dt._properties-title Масса
						dd._properties-subtitle #{product.weight} г
						dt._properties-title Вкус
						dd._properties-subtitle=product.flavor
						dt._properties-title Цена
						dd._properties-subtitle #{product.price} ₽
					a(href=`/form.html`)._button.button заказать
			include includes/catalog/above
	include includes/catalog/extra-goods
	include includes/catalog/promo
